# Ignore virtual environment
venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment variables file
.env

# Ignore macOS system files (optional)
.DS_Store

node_modules/

LocalTemp/