# Dependencies
node_modules/

# Environment Variables & Secrets
.env
*.env

# Application Backups & Temporary Files
LocalTemp/
backend/backups/

# Python
venv/
__pycache__/
*.pyc

# System & OS Files
.DS_Store
Thumbs.db