body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: #fff;
  font-size: 14px;
}

.page {
  max-width: 800px;
  margin: 20px auto;
  padding: 40px;
  border: 5px solid #000;
}

.header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.logo img {
  height: 70px;
  margin-right: 15px;
}

.header-text h2 {
  font-size: 16px;
  margin: 0;
}

.header-text{
text-align: center;
}

.header-text p {
  margin: 2px 0;
  font-size: 13px;
}

.center {
  text-align: center;
  text-decoration: underline;
  margin: 20px 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

td {
  padding: 4px 8px;
  vertical-align: top;
}

.note {
  font-style: italic;
  margin-top: 15px;
  font-size: 13px;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.right {
  text-align: right;
}

.stamp {
  height: 70px;
  margin-top: 10px;
}

.auth {
  font-weight: bold;
  margin-top: 5px;
}
