
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background: linear-gradient(to right, rgb(153, 205, 239), lightblue, lightblue, white);
    
}
/* changes */

.navbar {
    background-color: #333;
    overflow: hidden;
}

nav {
    display: flex;
    justify-content: flex-end;
    background: black;
    width: 100%;
    


}

nav a {
    color: white;
    padding: 10px;
    font-size: large;
    margin-right: 10px;
    text-decoration: none;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.nav-item {
    float: left;
    position: relative;
}

.nav-link {
    display: block;
    left: 0;
    color: white;
    text-align: center;
    padding: 14px 16px;
    margin-right: 1210px;
    text-decoration: none;

}

/* .nav-link:hover {
    background-color: #111;
} */

/* .dropdown {
    display: none;
    position: absolute;
    margin: 0;
    background-color: #333;
    min-width: 160px;
    z-index: 1;
} */


.dropdown {
    display: none;
    position: absolute;
    margin: 0;
    background-color: transparent;
    /* Set to transparent */
    min-width: 160px;
    z-index: 1;
    padding-left: 0;
    text-align: left;
    border: 2px solid blue;
}


ul li {
    list-style-type: none;


}

/* .dropdown-link {
    width: 250px;
    height: 30px;
    color: white;
    padding: 15px;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0px;
}

.dropdown-link:hover {
    background-color: #575757;
} */



.dropdown-link {
    width: 250px;
    height: 30px;
    color: blue;
    
    text-decoration: none;
    display: block;
    margin: 0px;
    background-color: transparent;
    /* Set to transparent */
}

.dropdown-link:hover {
    background-color: skyblue;
    color: white;
    font-size: larger;
    border: 2px solid blue;

    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}


.nav-item:hover .dropdown {
    display: block;
}

.nav-link img {
    width: 50px;
    height: 40px;
    margin-right: 223px;

}






.container {

    max-width: 800px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

.container:hover {
    transform: translateY(-3px);
    box-shadow: 0 12px 25px rgba(0, 0, 0, 0.2);
}

.form-group {
    margin-bottom: 15px;
    margin-right: 40px;
    margin-left: px;
    
}

label {
    display: block;
    margin-bottom: 5px;

    color: rgb(126, 124, 124);

}

input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    width: 104%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: medium;
    color: rgb(126, 124, 124);

}

button {
    background-color: #28a745;
    color: #fff;
    width: 100px;
    height: 40px;
    border: none;
    margin-top: 30px;
    margin-left: 1px;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #0d48cf;
}

button:hover {
    background-color: #0ac616d3;
}


/* header  */

html,
body {
    margin: 0;
    padding: 0;
}



header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, rgb(153, 205, 239), lightblue, lightblue, white);
    color: black;
    padding: 25px;

    border: none;
    border-bottom: 3px solid grey;

}

header .left-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

header .left-section input {
    width: 200px;
    height: 30px;
    font-size: 15px;
}

header .center-section {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

header .center-section img {
    height: 150px;
    width: 250px;
}

textarea {
    width: 101%;
    padding: 11px;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;

}

h2{
    margin-bottom: 0;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    
}

hr{
    margin-left: 0px;
    margin-bottom: 30px;
    margin-right: 8px;
    height:2px;
    background-color: rgb(55, 137, 232);
}
/*by me*/


.main-A4page{
    margin-left: 350px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    background-color: white;
    width: 800px;
    height: 1350px;
}
.main-content{
    position: absolute;
    display: block;
    height: 1200px;
    width: 660px;
    margin-top: 70px;
    margin-left: 70px;
    margin-right: 70px;
    border: solid 3px black;
    background-color:white;
    font-family: 'Times New Roman', Times, serif;
}
.r1{
    display: flex;
    width: 660px;
    border-bottom:solid 1px black;
    height: 125px;
}
#r11{
    width: 420px;
    height: 125px;
    border-right:solid 1px black;   
    line-height: 0.8;
}
#r11 h1{
    margin: 7px;
    margin-left: 3px;
}
#r11 p{
    font-weight: bolder;
    font-size: 12px;
    margin-left: 3px;
    line-height: 1.5;
}
#r12{
    float: right;
    width: 240px;
    height: 125px;
}
.r2{
    height: 30px;
    width: 660px;
    border-bottom:solid 1px black; 
    
}
.r2 h1{
    margin-top: 7px;
    text-align: center;
    font-size: 18px;
}
.r3{
    display: flex;
    height: 130px;
    width: 660px;
    border-bottom: solid 1px black;
}
#r31{
    width: 380px; 
    height:130px;
    border-right: solid 1px black;
    font-size: 12px;
}
#r31 p{
    line-height: 3.5px;
    margin-left:3px;
}
#r31 span{
    line-height: 9.4;
}
#r32{
    width:280px ; 
    font-size: 12px;
    font-weight: bold;
}
#r32 p{
    margin: 0px;
    margin-left: 3px;
    line-height: 1.5;
}
.r4{
    display: flex;
    height: 160px;
    width: 660px;
    border-bottom: solid 1px black;
    font-size: 12px;
    font-weight: bold;
}
#r41{
    border-right: solid 1px black;
    height: 160px;
    width:380px;   
    margin-left:3px ;
}
#r41 p{
    margin: 0px;
    line-height: 1.5;
}
#r42{
    height: 160px;
    width:280px;   
    margin-left:3px ;
}
#r42 p{
    margin: 0px;
    line-height: 1.5;
}
.r5{
    height: 20px ;
    width: 660px;
    border-bottom: solid 1px black;
    font-size: 12px;
}
.r5 p{
    margin-top: 3px;
    margin-left: 3px;
}
.r6{
    font-size: 12px;
    display: flex;
    height: 50px;
    width: 660px;
    border-bottom: solid 1px black; 
}
.r6 p{
    margin-top: 5px;
}
#c1{
    height: 50px;
    margin-left: 3px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    
}
#c2{
    height: 50px;
    width: 200px;
    border-right: solid 0px black;
    text-align: center;
    line-height: 1.8;
}
#c3{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
}
#c4{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
}
#c5{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
}
#c6{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
#c7{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
#c8{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
#c9{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
#c10{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
#c11{
    height: 50px;
    width: 60px;
    border-right: solid 0px black;
    justify-items: center;
    line-height: 1.6;
}
.r7{
    font-size: 12px;
    width: 660px;
}
#tr1{
    display: flex;
    height: 20px;
    width: 660px;
    
}
#tr2{
    display: flex;
    height: 20px;
    width: 660px;
    
}
#tr3{
    display: flex;
    height: 20px;
    width: 660px;
   
}
#tr4{
    display: flex;
    height: 20px;
    width: 660px;
    
}
#tr5{
    display: flex;
    height: 20px;
    width: 660px;
    border-bottom: solid 1px black;
}
#tr11,#tr21,#tr31,#tr41,#tr51{
    margin-left: 3px;
    width: 50px;
    border-right: solid 0px black;
}
#tr11 p,#tr21 p,#tr31 p,#tr41 p,#tr51 p{
    margin: 0px;
}
#tr12,#tr22,#tr32,#tr42,#tr52{
    width: 160px;
    border-right: solid 0px black;
}
#tr12 p,#tr22 p,#tr32 p,#tr42 p,#tr52 p{
    margin-top: 0px;
}
#tr13,#tr23,#tr33,#tr43,#tr53{
    width: 48px;
    border-right: solid 0px black;
}
#tr13 p,#tr23 p,#tr33 p,#tr43 p,#tr53 p{
    margin-top: 0px;
}
#tr14,#tr24,#tr34,#tr44,#tr54{
    width: 47px;
    border-right: solid 0px black;
}
#tr14 p,#tr24 p,#tr34 p,#tr44 p,#tr54 p{
    margin-top: 0px;
}
#tr15,#tr25,#tr35,#tr45,#tr55{
    width: 48px;
    border-right: solid 1px black;
    
}
#tr15 p,#tr25 p,#tr35 p,#tr45 p,#tr55 p{
    margin-top: 0px;
}
#tr16,#tr26,#tr36,#tr46,#tr56{
    width: 48px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr16 p,#tr26 p,#tr36 p,#tr46 p,#tr56 p{
    margin-top: 0px;
}
#tr17,#tr27,#tr37,#tr47,#tr57{
    width: 52px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr17 p,#tr27 p,#tr37 p,#tr47 p,#tr57 p{
    margin-top: 0px;
}
#tr18,#tr28,#tr38,#tr48,#tr58{
    width: 47px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr18 p,#tr28 p,#tr38 p,#tr48 p,#tr58 p{
    margin-top: 0px;
}
#tr19,#tr29,#tr39,#tr49,#tr59{
    width: 48px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr19 p,#tr29 p,#tr39 p,#tr49 p,#tr59 p{
    margin-top: 0px;
}
#tr110,#tr210,#tr310,#tr410,#tr510{
    width: 46px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr110 p,#tr210 p,#tr310 p,#tr410 p,#tr510 p{
    margin-top: 0px;
}
#tr111,#tr211,#tr311,#tr411,#tr511{
    width: 52px;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
}
#tr111 p,#tr211 p,#tr311 p,#tr411 p,#tr511 p{
    margin-top: 0px;
}
#tr56,#tr57,#tr58,#tr59,#tr510,#tr511{
    border-bottom: solid 0px black;
}
#tr111,#tr211,#tr311,#tr411,#tr511{
    border-right: solid 0px black;
}
.r8{
    font-size: 12px;
    font-weight: bold;
    display: flex;
    height: 25px;
    width: 660px;
    border-bottom: solid 1px black; 
}
#r81 p{
    margin-top: 3px;
    margin-left: 3px;
}
#r82 p,#r83 p,#r84 p,#r85 p{
    margin-top: 3px;
}
#r81{
    width: 405px;
    border-right: solid 0px black;
}
#r82{
    width: 102px;
    border-right: solid 0px black;
}
#r83{
    width: 48px;
    border-right: solid 0px black;
}
#r84{
    width: 46px;
    border-right: solid 0px black;
    justify-items: center;
}
#r85{
    width: 52px;
    border-right: solid 0px black;
}
.r9{
    display: flex;
    font-size: 12px;
    font-weight: bold;
    width: 660px;
    height: 25px;
    border-bottom:solid 1px black ;
}
#r91{
    width:600px;
    border-right: solid 0px black;
    height: 25px;
}
#r92{
    width:60px;
    border-right: solid 0px black;
    height: 25px;
}
.r10{
    width:660px;
    border-bottom: solid 1px black;
    border-right: solid 0px black;
    height: 25px;
}
.r10 p{
    margin-top: 3px;
    margin-left: 3px;
}
.r11{
    width:660px;
    border-bottom: solid 1px black;
    border-right: solid 0px black;
    height: 25px;
}
.r11 p{
    margin-top: 3px;
    margin-left: 3px;
}
.r12{
    display: flex;
    height: 160px;
    width: 660;
    border-bottom: solid 1px black;
}
#r121{
    border-right: solid 0px black;
    width: 200px;
    height: 160px;
}
#r122{
    font-weight: bold;
    font-size: 12px;
    border-right: solid 0px black;
    width: 180px;
    height: 160px;
    line-height: 0.5;
}
#r123{
    font-weight: bold;
    font-size: 12px;
    border-right: solid 0px black;
    height: 160px;
    line-height: 0.5;
}
.r13{
    height: 20px;
    width: 660;
    border-bottom: solid 1px black;
    text-align: center;
    font-weight: bold;
}
.r13 p{
    margin-top: 3px;
    margin-left: 3px;
}
.r14{
    display: flex;
}
#r141{
    width: 370px;
    height: 265px;
    border-bottom: solid 0px black;
    border-right: solid 0px black ;
}
#r142{
    font-size: 8px;
    width: 340px;
    height: 265px;
    border-bottom: solid 0px black;
    border-right: solid 0px black ;
    line-height: 2;
}
#r32 input{
    margin-top: 2px;
    height: 15px;
    padding: 0px;
    border-radius: 0px;
    width: 150px;
}
#r32 input::placeholder{
    font-size: 10px;
}
