<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delivery Order</title>
  <link rel="stylesheet" href="/static/do.css">
</head>
<body>

<div class="page">

  <div class="header">
    <div class="logo">
      <img src="/static/SSR_nobg.png" alt="SSR Logo">
    </div>
    <div class="header-text">
      <h2>SSR LOGISTIC SOLUTIONS PRIVATE LIMITED</h2>
      <p><strong>CIN NO:</strong> U52220MH2023PTC414525,</p>
      <p>Office No. 612, 6th Floor, Vashi Infotech Park , Sector - 30 A, Near Raghuleela Mall, Vashi ,</p>
      <p>Navi Mumbai-400703, Maharashtra, India</p>
      <p><strong>E-mail ID:</strong> customerservice@ssrlogistic.net</p>
      <p><strong>Tel.No :</strong> 7700990630, 7700990630</p>
    </div>
  </div>

  <h3 class="center">DELIVERY ORDER</h3>

  <p><strong>To,</strong><br>UNIFEEDER AGENCIES INDIA PRIVATE LIMITED</p>
  <p>DO NO. XGG/NSA/25/07128</p>
  <p>DO Date 26-05-2025</p>

  <p><strong>Dear Sir,</strong></p>

  <p>
    You are requested to kindly make delivery of the below mentioned container(s), whose details are as follows:
  </p>

  <table>
    <tr><td><strong>HBL No:</strong></td><td>QLD202505249</td><td><strong>Date:</strong></td><td>16-05-2025</td></tr>
    <tr><td><strong>MBL No:</strong></td><td>XGG/NSA/25/07128</td><td><strong>Date:</strong></td><td>16-05-2025</td></tr>
    <tr><td><strong>Container No.:</strong></td><td colspan="3">TCKU3335591, LYGU3196667</td></tr>
    <tr><td><strong>MBL Consignee:</strong></td><td colspan="3">SSR LOGISTIC SOLUTIONS PVT LTD</td></tr>
    <tr><td><strong>HBL Consignee:</strong></td><td colspan="3">ZOSHAB INTERNATIONAL POWER TOOLS LLP</td></tr>
    <tr><td><strong>Notify Party:</strong></td><td colspan="3">SSR LOGISTIC SOLUTIONS PVT LTD</td></tr>
    <tr><td><strong>CHA:</strong></td><td colspan="3">NA</td></tr>
    <tr><td><strong>Cargo Description:</strong></td><td colspan="3">1100 WEBBING SLING HS 56074900 SPARE PARTS HS 84311000</td></tr>
    <tr><td><strong>Delivery:</strong></td><td colspan="3">Full</td></tr>
    <tr><td><strong>No of Packages:</strong></td><td colspan="3">2637 PACKAGES</td></tr>
    <tr><td><strong>Measurement:</strong></td><td colspan="3">55.262</td></tr>
    <tr><td><strong>Gross Weight:</strong></td><td colspan="3">51010.600</td></tr>
    <tr><td><strong>Vessel Voyage:</strong></td><td colspan="3">ONE MAESTRO V.0081W</td></tr>
    <tr><td><strong>IGM No.:</strong></td><td colspan="3"></td></tr>
    <tr><td><strong>Line NO.:</strong></td><td colspan="3"></td></tr>
    <tr><td><strong>Sub-Line No.:</strong></td><td colspan="3"></td></tr>
    <tr><td><strong>Marks & Nos.:</strong></td><td colspan="3">NIL</td></tr>
    <tr><td><strong>This Delivery Order is Valid Till:</strong></td><td colspan="3">NOT</td></tr>
  </table>

  <p class="note">
    <strong>NOTE:</strong> NO MANUAL REVALIDATION OF DATE IS ALLOWED ON THIS DELIVERY ORDER, ONLY FRESH DELIVERY ORDER TO BE ACCEPTED.
  </p>

  <p><strong>Remarks:</strong> na</p>

  <div class="footer">
    <div class="left">
      <p>Thanking you,<br>Yours Faithfully,</p>
    </div>
    <div class="right">
      <p><strong>FOR SSR LOGISTIC SOLUTIONS PRIVATE LIMITED</strong></p>
      <img src="/static/stamp.png" class="stamp" alt="Signature & Stamp">
      <p class="auth">Authorized Signatory</p>
    </div>
  </div>

</div>

</body>
</html>
