<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/do.css">
</head>
<body>
    <header>
        <div class="left-section">
            <h3 >Track Shipment</h3><br>
            <input type="text" placeholder="Enter BL/Container no.">
        </div>
        <div class="center-section">
            <img src="/static/images/SSR_nobg.png" alt="Logo">
        </div>
        <div>
            <a href="https://api.whatsapp.com/send?phone=917700990630"><img src="/static/images/whatsapp.png" height="30px"
                    width="30px"></a>
            <a href="https://www.facebook.com/sentil.kumar.984"><img src="/static/images/facebook.png" height="30px"
                    width="30px"></a>
            <a href="https://www.linkedin.com/in/sentilkumar-a-s-a-mumbai-a2770915/"><img src="/static/images/linkedin.png"
                    height="30px" width="30px"></a>
        </div>
    </header>

    <nav>
        <ul class="nav-list">
            <li class="nav-item">
                <a href="#" class="nav-link"><img src="static/images/hamberger.png" alt="hambergericon"></a>
                <ul class="dropdown">
                    <!-- <li><a href="Login.html" class="dropdown-link">Login</a></li>
                    <li><a href="Signup.html" class="dropdown-link">Signup</a></li> -->
                    <li><a href="/kycwebpage" class="dropdown-link">KYC details</a></li>
                    <li><a href="/quotationwebpage" class="dropdown-link">Quotation details </a></li>
                    <li><a href="/bookingwebpage" class="dropdown-link">Booking details</a></li>
                    <li><a href="/invoice" class="dropdown-link">Invoice Format</a></li>
                    <li><a href="#" class="dropdown-link">Pre-Alert</a></li>
                    <li><a href="#" class="dropdown-link">BL Details</a></li>
                </ul>
            </li>

        </ul>
    </nav>


    <div class="main-A4page">
        <div class="head">
            <span>
                <img src="/static/SSR_nobg.png" alt="SSR logo" height="70" width="150px">
            </span>
                <pre>
                    <h2>SSR LOGISTIC SOLUTIONS PRIVATE LIMITED</h2>
                        CIN NO:U52220MH2023PTC414525,
                Office No. 612, 6th Floor, Vashi Infotech Park , Sector - 30 A, Near Raghuleela Mall, Vashi ,
                      Navi Mumbai-400703,Maharashtra, India
                        E-mail ID: customerservice@ssrlogistic.net
                           Tel.No :7700990630, 7700990630
                </pre>
        </div>
        <div class="main-content">
        
        </div>
    </div>

    
    
</body>
</html>