.navbar {
  background-color: #bcbcbc;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-left {
  display: flex;
  align-items: center;
  gap: 16px;
}

.navbar-logo {
  height: 50px;
  width: auto;
  margin-right: 20px;
  vertical-align: middle;
}

.navbar-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  gap: 15px;
}

.navbar-link {
  color: #000000;
  text-decoration: none;
  font-weight: 600;
  font-size: 19px;
  transition: color 0.3s ease;
}

.navbar-social-icon {
  height: 40px;
  width: auto;
  margin-right: 5px;
  vertical-align: middle;
}

.navbar-link:hover {
  color: #007BFF;
  text-decoration: underline;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: auto;
}
