@import "tailwindcss/preflight";
@tailwind utilities;
@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #1f2937; 
}

::-webkit-scrollbar-thumb {
  background-color: #24395b; 
  border-radius: 10px;
  border: 2px solid #1f2937; 
}

* {
  scrollbar-width: thin;
  scrollbar-color: #1f3557 #1f2937;
}

body {
  background-color: #172132; /* bluish gray */
  color: #eaeef3;           /* optional: light text */
}


